body{background-color:lightgray; font-size:18px; max-width:800px; padding:0 20px; margin:auto;}

.italic{font-style:italic;}

.header{text-align:center;margin:40px 0;}

a.button{background-color:forestgreen; display:inline-block; padding:10px 40px; border:1px solid black; border-radius:5px; cursor:pointer; }
a.button:hover{background-color:limegreen;}




#output{margin-top:100px;}




.credits{margin-top:200px; margin-bottom:100px; text-align:center;}
.credits .credit{display:inline-block; margin-top:40px; margin-bottom:40px;}