body{background-color:lightgray; font-size:18px;}



h1{text-align:center;}

a.button{background-color:forestgreen; display:inline-block; padding:10px 40px; border:1px solid black; border-radius:5px; cursor:pointer; }
a.button:hover{background-color:limegreen;}